body{
  margin: 0;
  background-color: black;
}
.gameBoard{
  border: solid red;
  width: min-content;
  margin: 0 auto;
}
.rows{
  width: 678px;
  height: 78px;
  border: solid white 1px;
  display: flex;
}
.columns{
  width: 75px;
  height: 75px;
  border: solid red 1px;
}
.textDisplay{
  color: red;
  font-size: 18pt;
  text-align: center;
  margin-bottom: 12px;
  position: relative;
  z-index: 0;
  margin-top: 28px;
}
